extends modules/main

block vars
  - var title = 'Logined';

block content
  if username
    h1 Logined #{username}
  else
    h1 This page only for logined user
      a(href="/login").login__button Login
