html
  head
    title Приложение
    link(rel="stylesheet" href="../../static/style.css")
    link(href="../static/appStyle.css" rel="stylesheet")
  body
    include ./modules/header
    #app
    script(type="text/javascript" src="../static/bundle.js")